<footer
  class="
    pt-3
    d-flex
    pb-4
    mt-5
    text-muted
    border-top
    flex-wrap
    align-items-center
    justify-content-center justify-content-md-between
  "
>
  <p>
    © 2021 Aldhanekaa, made with luv by
    <a href="https://github.com/aldhanekaa">Aldhanekaa</a> with
    <a href="https://flask.palletsprojects.com/en">Flask</a>
  </p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
    <li class="list-inline-item">
      <a href="/terms-of-use">Terms Of Use</a>
    </li>
    <li class="list-inline-item">
      <a href="https://technonatura.vercel.app/contact">Contact</a>
    </li>
    <li class="list-inline-item">
      <a href="https://help.technonatura.vercel.app">Support</a>
    </li>
  </ul>
</footer>
